* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #000;
}
.header__top {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 136px 12px 445px;
}
.header__top a {
  color: #fff;
  margin-left: 8px;
}
.header__top select {
  background-color: #000;
  color: #fff;
  border: none;
  width: 78px;
  height: 24px;
  margin-left: 231px;
}
.header__title {
  font-family: Poppins;
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #fff;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 135px 16px;
}
.header__bottom__logo p {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  width: 118px;
  height: 24px;
}
.header__bottom__logo p a {
  text-decoration: none;
  color: #000;
}
.header__bottom__right {
  display: flex;
  align-items: center;
  margin-left: 130px;
}
.header__search {
  position: relative;
  display: flex;
  align-items: center;
}
.header__input {
  width: 243px;
  height: 38px;
  gap: 10px;
  border-radius: 4px;
  padding-top: 7px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: none;
  background: #f5f5f5;
}
.header__buttons {
  display: flex;
  align-items: center;
  margin-left: 24px;
  gap: 16px;
}
.header__button {
  border: none;
  background: #fff;
}
.header__btn {
  background: #f5f5f5;
  border: none;
  position: absolute;
  left: 85%;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: 160px;
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header__li {
  list-style: none;
}
.header__a {
  font-family: Poppins;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: #000;
  position: relative;
  padding-bottom: 2px;
  white-space: nowrap;
}
.header__a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #1a1a1a;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.header__a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header__a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.section_signup {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.section_signup img {
  width: 805px;
  height: 781px;
}
.section_signup_sign {
  width: 371px;
  height: 530px;
  margin-left: 130px;
}
.section_signup_sign_div1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.section_signup_sign_div1 h1 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 4%;
}
.section_signup_sign_div1 p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.section_signup_sign_div2 {
  display: flex;
  flex-direction: column;
  width: 371px;
  height: 404px;
  gap: 40px;
}
.section_signup_sign_div2 input {
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}
.section_signup_sign_div2 input::-moz-placeholder {
  color: #aaa;
}
.section_signup_sign_div2 input::placeholder {
  color: #aaa;
}
.section_signup_sign_div2_btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section_signup_sign_div2_button1 {
  width: 371px;
  height: 56px;
  padding: 12px;
  background-color: #DB4444;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.section_signup_sign_div2_button1:hover {
  background-color: #c0392b;
}
.section_signup_sign_div2_button2 {
  display: flex;
  text-align: center;
  gap: 16px;
  width: 371px;
  height: 56px;
  padding: 16px 86px;
  background-color: #FFFFFF;
  border: none;
  border: 1px #999999 solid;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  white-space: nowrap;
}
.section_signup_sign_div2_button2:hover {
  background-color: #f5f5f5;
}
.section_signup_sign_div2_log {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.section_signup_sign_div2_log p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.section_signup_sign_div2_log a {
  height: 24px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #4D4D4D;
  border-bottom: 2px #4D4D4D solid;
}

.footer {
  background: #000;
  margin-top: 140px;
  padding: 80px 135px 24px;
}
.footer_d1 {
  display: flex;
  align-items: baseline;
  gap: 87px;
  margin-bottom: 60px;
}
.footer_d1_d1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  width: 217px;
  height: 188px;
}
.footer_d1_d1 h3 {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 8px;
}
.footer_d1_d1 form {
  position: relative;
  width: 217px;
  height: 48px;
}
.footer_d1_d1 form input {
  width: 217px;
  height: 48px;
  opacity: 1;
  gap: 32px;
  border-width: 1.5px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  background: #000;
  border: 1.5px #fff solid;
  color: #fff;
}
.footer_d1_d1 form button {
  border: none;
  background: #000;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 16px;
}
.footer_d1_p1 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #fff;
  margin-bottom: 8px;
}
.footer_d1_p2 {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fff;
}
.footer_d1_d2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 175px;
  height: 180px;
}
.footer_d1_d2 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 24px;
}
.footer_d1_d2 ul {
  margin-bottom: 16px;
}
.footer_d1_d2 ul li {
  list-style: none;
}
.footer_d1_d2 ul li a {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #fff;
}
.footer_d1_d3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 123px;
  height: 236px;
}
.footer_d1_d3 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 24px;
}
.footer_d1_d3 ul {
  margin-bottom: 16px;
}
.footer_d1_d3 ul li {
  list-style: none;
}
.footer_d1_d3 ul li a {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #fff;
}
.footer_d1_d4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 109px;
  height: 196px;
}
.footer_d1_d4 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 24px;
}
.footer_d1_d4 ul {
  margin-bottom: 16px;
}
.footer_d1_d4 ul li {
  list-style: none;
}
.footer_d1_d4 ul li a {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #fff;
}
.footer_d1_d5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_d1_d5 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #fff;
}
.footer_d1_d5_d1 p {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  margin-bottom: 8px;
  color: #fff;
}
.footer_d1_d5_d2 {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer_d1_d5_d2 i a {
  text-decoration: none;
  color: #fff;
}
.footer_d2 {
  display: flex;
  justify-content: center;
  border-top: 1px #141414 solid;
}
.footer_d2 p {
  color: #3D3D3D;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 16px;
}/*# sourceMappingURL=signup.css.map */